mixin storeListItem(store)
  a.btn.stores-list-item(href=`/stores/${store.slug}`)
    span= `${store.bnum.en}, ${store.street.en}, ${store.district.en}`
    span= `${store.province.en}, ${store.country.en} ${store.zip}`
    span= store.phone
